.container
  %h1 Make selections
  .row
    .col-sm-2
      %a.btn.btn-primary{:href => ""} Last week
    .col-sm-8
    .col-sm-2
      %a.btn.btn-primary{:href => ""} Next week
  %form.form-horizontal
    %fieldset
      / Form Name
      %legend Select your choice of days, meals, and services
      / Breakfast
      .form-group
        %label.col-md-6.control-label{:for => "checkboxes"}
          Sunday, April 5, 2015
          %br/
          %span.lead Breakfast
        .col-md-4
          .checkbox
            %label{:for => "checkboxes-0"}
              %input#checkboxes-0{:name => "checkboxes", :type => "checkbox", :value => "1"}
                Prepare and serve
          .checkbox
            %label{:for => "checkboxes-1"}
              %input#checkboxes-1{:name => "checkboxes", :type => "checkbox", :value => "2"}
                Provide fellowship
      / Lunch
      .form-group
        %label.col-md-6.control-label{:for => "checkboxes"}
          Sunday, April 5, 2015
          %br/
          %span.lead Lunch
        .col-md-4
          .checkbox
            %label{:for => "checkboxes-0"}
              %input#checkboxes-0{:name => "checkboxes", :type => "checkbox", :value => "1"}
                Prepare and serve
          .checkbox
            %label{:for => "checkboxes-1"}
              %input#checkboxes-1{:name => "checkboxes", :type => "checkbox", :value => "2"}
                Provide fellowship
      / Breakfast
      .form-group
        %label.col-md-6.control-label{:for => "checkboxes"}
          Monday, April 6, 2015
          %br/
          %span.lead Breakfast
        .col-md-4
          .checkbox
            %label{:for => "checkboxes-0"}
              %input#checkboxes-0{:name => "checkboxes", :type => "checkbox", :value => "1"}
                Prepare and serve
          .checkbox
            %label{:for => "checkboxes-1"}
              %input#checkboxes-1{:name => "checkboxes", :type => "checkbox", :value => "2"}
                Provide fellowship
      / Lunch
      .form-group
        %label.col-md-6.control-label{:for => "checkboxes"}
          Monday, April 6, 2015
          %br/
          %span.lead Lunch
        .col-md-4
          .checkbox
            %label{:for => "checkboxes-0"}
              %input#checkboxes-0{:name => "checkboxes", :type => "checkbox", :value => "1"}
                Prepare and serve
          .checkbox
            %label{:for => "checkboxes-1"}
              %input#checkboxes-1{:name => "checkboxes", :type => "checkbox", :value => "2"}
                Provide fellowship
      / Breakfast
      .form-group
        %label.col-md-6.control-label{:for => "checkboxes"}
          Tuesday, April 7, 2015
          %br/
          %span.lead Breakfast
        .col-md-4
          .checkbox
            %label{:for => "checkboxes-0"}
              %input#checkboxes-0{:name => "checkboxes", :type => "checkbox", :value => "1"}
                Prepare and serve
          .checkbox
            %label{:for => "checkboxes-1"}
              %input#checkboxes-1{:name => "checkboxes", :type => "checkbox", :value => "2"}
                Provide fellowship
      / Lunch
      .form-group
        %label.col-md-6.control-label{:for => "checkboxes"}
          Tuesday, April 7, 2015
          %br/
          %span.lead Lunch
        .col-md-4
          .checkbox
            %label{:for => "checkboxes-0"}
              %input#checkboxes-0{:name => "checkboxes", :type => "checkbox", :value => "1"}
                Prepare and serve
          .checkbox
            %label{:for => "checkboxes-1"}
              %input#checkboxes-1{:name => "checkboxes", :type => "checkbox", :value => "2"}
                Provide fellowship
      / Breakfast
      .form-group
        %label.col-md-6.control-label{:for => "checkboxes"}
          Wednesday, April 8, 2015
          %br/
          %span.lead Breakfast
        .col-md-4
          .checkbox
            %label{:for => "checkboxes-0"}
              %input#checkboxes-0{:name => "checkboxes", :type => "checkbox", :value => "1"}
                Prepare and serve
          .checkbox
            %label{:for => "checkboxes-1"}
              %input#checkboxes-1{:name => "checkboxes", :type => "checkbox", :value => "2"}
                Provide fellowship
      / Lunch
      .form-group
        %label.col-md-6.control-label{:for => "checkboxes"}
          Wednesday, April 8, 2015
          %br/
          %span.lead Lunch
        .col-md-4
          .checkbox
            %label{:for => "checkboxes-0"}
              %input#checkboxes-0{:name => "checkboxes", :type => "checkbox", :value => "1"}
                Prepare and serve
          .checkbox
            %label{:for => "checkboxes-1"}
              %input#checkboxes-1{:name => "checkboxes", :type => "checkbox", :value => "2"}
                Provide fellowship
      / Breakfast
      .form-group
        %label.col-md-6.control-label{:for => "checkboxes"}
          Thursday, April 9, 2015
          %br/
          %span.lead Breakfast
        .col-md-4
          .checkbox
            %label{:for => "checkboxes-0"}
              %input#checkboxes-0{:name => "checkboxes", :type => "checkbox", :value => "1"}
                Prepare and serve
          .checkbox
            %label{:for => "checkboxes-1"}
              %input#checkboxes-1{:name => "checkboxes", :type => "checkbox", :value => "2"}
                Provide fellowship
      / Lunch
      .form-group
        %label.col-md-6.control-label{:for => "checkboxes"}
          Thursday, April 9, 2015
          %br/
          %span.lead Lunch
        .col-md-4
          .checkbox
            %label{:for => "checkboxes-0"}
              %input#checkboxes-0{:name => "checkboxes", :type => "checkbox", :value => "1"}
                Prepare and serve
          .checkbox
            %label{:for => "checkboxes-1"}
              %input#checkboxes-1{:name => "checkboxes", :type => "checkbox", :value => "2"}
                Provide fellowship
      / Breakfast
      .form-group
        %label.col-md-6.control-label{:for => "checkboxes"}
          Friday, April 10, 2015
          %br/
          %span.lead Breakfast
        .col-md-4
          .checkbox
            %label{:for => "checkboxes-0"}
              %input#checkboxes-0{:name => "checkboxes", :type => "checkbox", :value => "1"}
                Prepare and serve
          .checkbox
            %label{:for => "checkboxes-1"}
              %input#checkboxes-1{:name => "checkboxes", :type => "checkbox", :value => "2"}
                Provide fellowship
      / Lunch
      .form-group
        %label.col-md-6.control-label{:for => "checkboxes"}
          Friday, April 10, 2015
          %br/
          %span.lead Lunch
        .col-md-4
          .checkbox
            %label{:for => "checkboxes-0"}
              %input#checkboxes-0{:name => "checkboxes", :type => "checkbox", :value => "1"}
                Prepare and serve
          .checkbox
            %label{:for => "checkboxes-1"}
              %input#checkboxes-1{:name => "checkboxes", :type => "checkbox", :value => "2"}
                Provide fellowship
      / Breakfast
      .form-group
        %label.col-md-6.control-label{:for => "checkboxes"}
          Saturday, April 11, 2015
          %br/
          %span.lead Breakfast
        .col-md-4
          .checkbox
            %label{:for => "checkboxes-0"}
              %input#checkboxes-0{:name => "checkboxes", :type => "checkbox", :value => "1"}
                Prepare and serve
          .checkbox
            %label{:for => "checkboxes-1"}
              %input#checkboxes-1{:name => "checkboxes", :type => "checkbox", :value => "2"}
                Provide fellowship
      / Lunch
      .form-group
        %label.col-md-6.control-label{:for => "checkboxes"}
          Saturday, April 11, 2015
          %br/
          %span.lead Lunch
        .col-md-4
          .checkbox
            %label{:for => "checkboxes-0"}
              %input#checkboxes-0{:name => "checkboxes", :type => "checkbox", :value => "1"}
                Prepare and serve
          .checkbox
            %label{:for => "checkboxes-1"}
              %input#checkboxes-1{:name => "checkboxes", :type => "checkbox", :value => "2"}
                Provide fellowship
      / Button
      .form-group
        %label.col-md-6.control-label{:for => "singlebutton"} Send form
        .col-md-4
          %button#singlebutton.btn.btn-primary{:name => "singlebutton"} Submit