%section#top-header.row.container
  %h1.col-md-6
    = link_to "Bridge to Hope in the Valley", home_path
  - if current_user
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            Welcome, #{current_user.firstname}
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              =link_to "Sign Out", sign_out_path