%h1 Slots
%section.container
  .row
    .col-sm-3.col-sm-offset-4
      = bootstrap_form_for :slots do |f|
        %header
          %h1 Select a date and meal
        %fieldset
          = f.email_field :dates, label: "Select date"
          
          = f.text_field :meal, label: "Which meal?"
        %fieldset
          %input(type="submit" value="Sign Up" class="btn btn-default")